@import './variable.scss';

.#{$prefix}-slide-track {
  &,
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  position: relative;
  height: $track_height;
  line-height: $track_height;
  background-color: $track_bg-color;

  .#{$prefix}-slide-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: $block_width;
    text-align: center;
    color: $block_text-color;
    background: $block_bg-color;
    border: 1px solid $block_bd-color;
    z-index: $block_z-index;
    cursor: move;

    &::after {
      content: '»';
    }

    &.#{$prefix}-slide-success::after {
      content: '√';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $slide-pc_width;
      height: 80%;
      color: $block-pc_text-color;
      background: $slide-success_bg-color;
      border-radius: 50%;
    }
  }

  .#{$prefix}-slide-text {
    position: absolute;
    right: 0;
    left: $block_width;
    margin: 0;
    text-align: center;
    color: $slide_text-color;
    z-index: $slide-text_z-index;
  }

  .#{$prefix}-slide-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: $slide-success_bg-color;
  }
}
