$prefix: 'ks' !default;

$track-height: 32px;
$block-width: 45px;
$slide-pc-size: 18px;

$block-text: #afafaf;
$block-pc-text: #fff;
$slide-text: #5f5f5f;

$track-bg: #e8e8e8;
$block-bg: #fff;
$block-bd: #ccc;
$bg-success: #7cc13c;
